.getting-started {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

}
.noMargin{
  margin: 0;
}

.slide-title {
  position: absolute;
  top: 50%;
  font-size: 1.1em;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-shadow:0 5px 10px #222;
  // text-shadow: 0 1px hsl(0,0%,85%),0 2px hsl(0,0%,80%),0 3px hsl(0,0%,75%),0 4px hsl(0,0%,70%),0 5px hsl(0,0%,65%),0 5px 10px black;
  // text-shadow: 0 0 0.1em, 0 0 0.3em;
}